/cloud/provider-secrets.auto.tfvars
/cloud/.terraform.lock.hcl
/cloud/terraform.tfstate
/cloud/.terraform.tfstate.lock.info
/cloud/terraform-plugin-proxmox.log
/cloud/terraform.tfstate.backup
/cloud/provider/secrets.auto.tfvars
